.about-header {
    text-align: center;
    padding: 25px;
}
  
.about-text {
    margin-bottom: 16px;
}

.hci-lab-footer {
    text-align: center;
    margin-top: 40px;
}

.hci-lab-logo {
    height: 24px;
    width: auto;
    vertical-align: middle;
    margin-right: 4px;
}

.hci-lab-text {
    color: #B30738;
}