

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.search-button {
    height: 55px;
}

.search-and-button-container, .example-searches-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.search-and-button-container {
    gap: 10px;
}
.search-result-text {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 10px 0;
    box-sizing: border-box;
}
.data-grid-container {
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    display:flex;
}
.datagrid-left {
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.datagrid-right {
    width: 125px;
    flex-shrink: 0;
}
.download-button-container {
    width: 100%;
    padding: 10px 0;
}
.download-button {
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 10px 0;
}
.search-input {
    flex: 1;
}

.loading-text {
    margin-left: 8px;
}

.example-searches-container {
    
}

.no-search-message {
    max-width: 1000px;
    margin: 0;
    padding: 0;
    text-align: left; 
    color: #000000; 
    font-size: 18px; 
    font-weight: bold;
}




